.menu
  font-size 32px
  display flex
  flex-direction row
  justify-content space-between
  font-size 30px
  line-height 40px
  padding 20px

.header
  text-align center
  color #fff
  display flex
  align-items center
  .title
    flex 1
    text-indent -100px

.title
  font-size 36px

.aside
  position fixed
  left: 0
  top: 0
  height 100%
  width 100%
  background rgba(0,0,0,.2)
  transition transform .2s linear;
  &.hide
    transform translate3d(-750px, 0, 0)
  .inner
    background #fff
    width 70%
    height 100%
    position relative
  .aside-tool
    display: flex;
    margin: 0 30px 30px 30px;
    justify-content: space-between;
    .btn-cn
      color: #000;
    font-size 40px
  .category
    font-size 36px
    display flex
    padding-left 20px
    align-items center
    border-bottom 2px solid #e9e9e9
    color #1c1c36
    margin-top: 10px
    &.topic
      padding 30px 0 30px 60px
    &.on
      color #fff
      font-weight: 600
    image
      width 60px
      height 60px
    text
      margin-left 20px
  .footer
    position: absolute
    bottom 0
    right 0