.div
  padding 0 15px
  font-size 30px
  color #444

.img
  display flex
  align-items: center

.el-masthead
  font-size 30px
  height 90px
  display flex
  align-items center
  justify-content center