.post
  width: 100%;
  overflow-x: hidden;
  .title
    color: #3366aa;

.header
  text-align center
  color #fff
  display flex
  align-items center
  .title
    width 64%
    color: #fff


.content
  padding 0 20px