.issue
  padding 0 15px
  font-size 30px
  color #444
  .taro-img
    width 100%
    height auto
  .div
    margin-top 20px
  .code,.text,.span,.a
    display inline
  .desc
    padding 0 15px
  .a
    color #3366aa
    .taro-text
      border-bottom 2px solid #ddd
  .som
    max-width 30%
    height auto
  .name .taro-text
    color #5a5a5a
    text-transform uppercase
    font-size 12px
    margin-left 20px
  .tag-sponsor .taro-text
    color #993
    background #fffcaa
    border-radius 2px
    border 1px solid #eee455
    padding 4px
  .mainlink .taro-text
    font-weight 600
  .code .taro-text
    background #efc
  .hrule
    width 100%
    border-top 2px solid #eedd66
  .ul.nogap
    .a .taro-text
      font-size 34px
  .em
    // font-size 26px
    // color #999
    font-style italic