.index
  width 100%;
  overflow-x: hidden;
  .a,.span,.text,.code,.em,.strong
    display inline
  .em
    font-style: italic

  .issue
    margin 0 15px

  .div
    font-size 30px
    color #444

  .desc
    padding 0 15px

  .img
    display flex
    align-items: center
    width: 100%
  .som
    width 240px
    height 160px

  .el-masthead
    font-size 30px
    height 90px
    display flex
    align-items center
    justify-content center
